<!-- Services Section Begin -->
<section class="services spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="services__item">
                    <div class="services__item__img">
                        <img src="../assets/img/services/services-1-2.jpg" alt="">
                    </div>
                    <div class="services__item__text">
                        <h4><span>&nbsp;</span> Personal Loan</h4>
                        <p>However, there is much more to branding</p>
                        <a href="#">&nbsp;</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="services__item">
                    <div class="services__item__img">
                        <img src="../assets/img/services/services-2-2.jpg" alt="">
                    </div>
                    <div class="services__item__text">
                        <h4><span>&nbsp;</span></h4>
                        <p>Don't Wait- Get It Now!!&nbsp;</p>
                        <a href="#">&nbsp;</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="services__item">
                    <div class="services__item__img"> </div>
                    <div class="services__item__text">
                        <h4><span>&nbsp;</span> </h4>
                        <p>&nbsp;</p>
                        <a href="#">&nbsp;</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="services__item">
                    <div class="services__item__img">
                        <img src="../assets/img/services/services-4.jpg" alt="">
                    </div>
                    <div class="services__item__text">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="services__item">
                    <div class="services__item__img">
                        <img src="../assets/img/services/services-5-1.jpg" alt="">
                    </div>
                    <div class="services__item__text">Don't Miss Out!!

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="services__item">
                    <div class="services__item__img">
                        <img src="../assets/img/services/services-1.jpg" alt="">
                    </div>
                    <div class="services__item__text">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services End -->